#panel {
    width: calc(120px * 0.7 * 10);
    height: calc(190px * 0.7 * 4);
}

.card {
    width: calc(120px * 0.7);
    height: calc(190px * 0.7);
    float: left;
    cursor: pointer;
}

.card img {
    width: calc(120px * 0.7);
    height: calc(190px * 0.7);
}

/* 裏の状態 */
.back {
    background-image: url('images/back.jpeg');
    background-size: calc(120px * 0.7) calc(190px * 0.7);
}

/* 終了時 */
.finish {
    cursor: default;
}
